.header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.479);
}

.header img{
    padding: 10px 25px;
}

.menu{
    display: none;
    background: none;
    border: 0px;
    margin-right: 20px;
    cursor: pointer;
}

.nav{
    display: flex;
    gap: 7px;
    padding: 10px 25px;
}

.nav-button{
    padding: 10px;
    border: 0px;
}

.nav-button:hover{
    border-bottom: 2px solid rgb(51, 0, 255);
}

@media(max-width: 768px){
    .nav{
        display: none;
        position: absolute;
        top: 96px;
        right: 0px;
        background-color: #ffffff;
        width: 95%;
        height: calc(100vh - 70px);
        z-index: 1000;
    }
    .nav-button:hover{
        border: none;
    }
    li{
        border-bottom: 2px solid rgba(0, 0, 0, 0.13);
        margin-top: 15px;
    }
    .menu{
        display: block;
    }
    #nav.ativo .nav{
        display: block;
    }
}

