.story-container{
    background-color: aliceblue;
}

.story-pd{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.story-img{
    border-radius: 5px;
}

.story-lines{
    text-align: center;
    line-height: 60px;
    margin-right: 150px;
    max-width: 60ch;
}

.story-p{
    margin-top: 50px;
    line-height: 30px;
}

@media(min-width: 2500px){
    .story-pd{
        justify-content: center;
        gap: 200px;
    }
}

@media(max-width: 1024px){
    .story-lines{
        margin-right: 10px;
        max-width: 48ch;
    }
}

@media(max-width: 974px){
    .story-pd{
        display: block;
        text-align: center;
    }
    .story-img{
        width: 400px;
        height: 400px;
    }
    .story-lines{
        margin-right: 0px;
        margin-top: 50px;
        max-width: 500ch;
    }
}

@media(max-width: 425px){
    .story-img{
        width: 250px;
        height: 250px;
    }
}